In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
arr=[]
arrx1=[]
arrx2=[]
arrx3=[]
for i in range(1000): 
    import random
    x1 = random.randint(1,1000)
    x2 = random.randint(1,1000)
    x3 = random.randint(1,1000) 
    y=5*x1+3*x2+1.5*x3+6
    arr.append(y)
    arrx1.append(x1)
    arrx2.append(x2)          
    arrx3.append(x3)

In [6]:
list_of_tuples = list(zip(arrx1,arrx2 ,arrx3,arr))  
    
# Assign data to tuples.  
list_of_tuples   
  
  
# Converting lists of tuples into  
# pandas Dataframe.  
df = pd.DataFrame(list_of_tuples, 
                  columns = ['x1','x2','x3', 'y'])  
     
# Print data.  
df

      x1   x2   x3       y
0    301  382  276  3071.0
1    751  630  568  6503.0
2    587  453  508  5062.0
3    193  184  194  1814.0
4    646  800  916  7010.0
..   ...  ...  ...     ...
995  395   44  204  2419.0
996  206   37  871  2453.5
997  949  104  955  6495.5
998  201  400  822  3444.0
999  212  357  146  2356.0

[1000 rows x 4 columns]

In [52]:
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [53]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

In [54]:
def loss():
    sub = np.subtract(y_test, y_pred)
    square_var = np.square(sub)
    mse = square_var.mean()
    print(mse)
loss()

9.148746821807197e-25

In [50]:
def Gradient_Descent():
    sub = np.subtract(y_test, y_pred)
    square_var = np.square(sub)
    mse = square_var.mean()
    print(mse)
loss()

9.719372197498076e-25

In [55]:
def accuracy():
    from operator import eq 
    tp = sum(map(eq, y_test,y_pred)) 
    tn=len(y_pred)
    ac=tp/tn
    print(ac*100)
accuracy()

32.0

In [56]:
print(regressor.intercept_)

6.0000000000027285